@inherits LayoutComponentBase

<PageTitle>My-first-blazor-project</PageTitle>
<header>
    <NavMenu />
</header> 
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
