<input type="checkbox" id="chec">
    <label for="chec">
        <div id="aberturamenu"><p id="nomemenu"><strong>M E N U</strong></p></div>
    </label>
    <nav>
        <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Tarefas</a></li>
                <li><a href="#">Usuarios</a></li>
                <li><a href="#">Login</a></li>
        </ul>
    </nav>