#nomeprojeto {
    text-align: center;
    color: aliceblue;
    padding-bottom: 3%;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}

header {
    padding-top: 1%;
    background-color: rgb(83, 83, 83);
}

body {
    background-color: rgb(201, 201, 201);
}